.Temp {
  height: 100vh;
  width: 100vw;
}

.Content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: hensaregular, arial, sans;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
