@font-face {
  font-family: hensaregular;
  src:
    url('assets/fonts/hensa-webfont.woff2') format('woff2'),
    url('assets/fonts/hensa-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --mainColor: red;
}

.App {
  display: block;
}
